.NavBar {
	background-color: #212121;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: 0 0 1em #00000080;
}

.NavBarButton {
	padding: 1em 0.5em 1em 0.5em;
	text-decoration: none;
}

.NavBarButton:hover {
	background-color: #333333;
}

.App {
	text-align: left;
	background-color: #ffffff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: left;
	font-size: 12pt;
	color: #202020;
}

a {
	color: #5E81AC;
}

main {
	margin: 1em;
}

.BooksHeading {
	text-align: center;
}

.BookList > p {
	text-align:center; 
	padding: 1em;
}

.SearchForm {
	text-align: center;
}

form {
	padding: 1em;
}

form > input[type=text] {
	padding: 0.4rem;
	width: 250px;
	height: 15px;
	font-size: 1em;

	padding-left: 40px;
	background-color: #dee1e6;
	border-radius: 5px;
	background-image: url('../public/search.png');
	background-position: 0.5em;
	background-size: 1em;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 2px;
	border-color: #dee1e6;
	color: #2E3440;
}

.BookListItem {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin: 0.5em 0 0.5em 0;
	padding: 1em;
	border-color: #dee1e6;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	color: #202020;
	text-decoration: none;
	
	/* centering */
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.BookListItemImage {
	width: 200px;
	object-fit: contain;
}

@media(max-width: 800px) {
	.BookListItemImage {
		width: 26%; 
	}
}

.BookListItemBlock {
	margin: 0.5em;
	padding: 0.5em;
	margin-left: 2em;
}

.BookListItemTitle {
	font-weight: bold;
	font-style: normal;
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.BookListItemInfo {
	font-style: italic;
}

.pageNumbers {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.currentPageNumber {
	text-decoration: none;
	padding: 0.5em;
	margin: 0 0.1em 0 0.1em;
	background-color: #dee1e6;
	border-radius: 5px;
}

.pageNumber {
	text-decoration: none;
	padding: 0.5em;
	margin: 0 0.1em 0 0.1em;
	background-color: #dee1e6;
	border-radius: 5px;
}



/* BookPage section */

h1, h2 {
	margin: 0.5em 0;
}

.BookPageContainer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.BookPageTitle, .BookPageAuthor
{
}

.BookPageText {
	display: flex;
	flex-wrap: nowrap;
}

.BookPageLeft {
	width: 30%;
}

.BookPageRight {
	max-width: 70%;
}

.BookPageRight {
}

.BookPageImage {
	display: block;
	padding: 1em;
	background-color: #dee1e6;
	margin: 1em 0;
	border-radius: 20px;
	max-width: calc(100%-3em);
}
